doctype html
html(lang='en')
	head
		title Parallax
		link(rel='stylesheet',href='/stylesheets/style.css')
	body
		div(id='fir',data-center="background-position:50% 0px;",data-top-bottom="background-position:50% -200px;") The Ultimate Showcase
		div(id='sec',data-750='opacity:1;',data-center="background-position:50% 0px;",data-top-bottom="background-position:50% -200px;") Presenting the one and only
		div(id='third',data-1500='opacity:1;',data-2250="opacity:0.2",data-center="background-position:50% 0px;",data-top-bottom="background-position:50% -200px;") Finally 
		script(type="text/javascript",src="javascripts/skrollr.min.js")
		script(type='text/javascript',src='javascripts/Scripts.js')